.card {
    box-shadow: 0 4px 8px 0 antiquewhite;
    transition: 0.3s;
    width: 80%;
    border-radius: 10px;
  }
  .noteCardContainer{
    padding:50px;
    margin: 50px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  img {
    border-radius: 5px 5px 0 0;
  }
  .button{
      background-color: #4A2506;
      height: 30px;
      width: 200px;
      font-size: 10px;
      color: white;
  }